.shareListUserCard {
    display: flex;
    padding: 0.5rem;

    &:hover {
        background-color: var(--primary);
        cursor: pointer;
    }

    .shareListUserName {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.selectedCard {
    background-color: var(--primary);
}

.shareListUserCard:not(:last-child) {
    border-bottom: 1px solid var(--primary-light);
}