.authPage {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;

    background-color: var(--primary-darker);

    .logo {
        width: 20rem;
        height: auto;
    }
}
